{{define "content"}}
	<!-- Begin Page Content -->
	<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-4 text-gray-800">{{.title}}</h1>

      <div class="row">
        <div class="col-md-7">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">{{.name}}</h6>
            </div>
            <div class="card-body">
              <div id="update_application_form">
                <div class="form-group">
                  <label for="InputName">Application name *</label>
                  <input value="{{.name}}" type="text" name="name" class="form-control" id="InputName" placeholder="Enter application name">
                </div>
                <div class="form-group">
                  <label for="InputDescription">Application description *</label>
                  <input value="{{.description}}" type="text" name="description" class="form-control" id="InputDescription" placeholder="Enter application description">
                </div>
                <div class="form-group">
                  <label for="InputDomains">Domains *</label>
                  <input value="{{.domains}}" type="text" name="domains" class="form-control" placeholder="Enter domains separated by comma">
                  <small id="domainsHelp" class="form-text text-muted">localhost, example.com</small>
                </div>
                <div class="form-group">
                  <label for="InputName">Secret Key</label>
                  <div class="input-group mb-3">
                    <input name="secret" type="text" disabled class="form-control" value="{{.secret}}" title="Use for API requests">
                    <div class="input-group-append">
                      <button onclick="refreshSecretKey('{{.appId}}')" class="btn btn-success" type="button">Refresh</button>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="InputDomains">Created At</label>
                  <input value="{{.createdAt}}" type="text" disabled class="form-control">
                </div>
                <div class="form-group">
                  <label for="InputDomains">Updated At</label>
                  <input value="{{.updatedAt}}" type="text" disabled class="form-control">
                </div>
                <button type="button" onclick="createApplication()" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="row">
                <div class="col-md-6">
                  <h6 class="m-0 font-weight-bold text-primary">Users</h6>
                </div>
                <div class="col-md-6 text-right">
                  <a href="#exampleModalCenter" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-success btn-circle btn-sm">
                    <i class="fas fa-user-plus"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div> 
              <div id="users"></div>
            </div>
          </div>
        </div>
      </div>
	</div>
	<!-- /.container-fluid -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Add user</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="create_user_form">
            <div class="form-group">
              <label for="InputName">User ID *</label>
              <input type="text" name="uid" class="form-control" placeholder="Enter id">
              <small id="domainsHelp" class="form-text text-muted">User id from yours project (unique)</small>
            </div>
            <div class="form-group">
              <label for="InputName">Name *</label>
              <input type="text" name="name" class="form-control" placeholder="Enter name">
            </div>
            <div class="form-group">
              <label for="InputName">Second name *</label>
              <input type="text" name="second" class="form-control" placeholder="Enter second name">
            </div>
            <div class="form-group">
              <label for="InputName">Gender *</label>
              <select id="inputState" name="gender" class="form-control">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
            <div class="form-group">
              <label for="InputName">Email</label>
              <input type="text" name="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="InputName">Phone</label>
              <input type="text" name="phone" class="form-control" placeholder="Enter phone">
            </div>
            <input type="hidden" name="appId" value="{{.appId}}">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" onclick="createUser()" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="sendMessageModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="sendMessageModalTitle">Send message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="send_message_form">
                <div class="form-group">
                  <label for="InputName">User ID *</label>
                  <input type="text" name="uid2" class="form-control" placeholder="2">
                  <small class="form-text text-muted">uid</small>
                </div>
              <div class="form-group">
                <label>Text *</label>
                <textarea class="form-control" name="text" rows="6"></textarea>
              </div>
              <input type="hidden" name="appId" value="{{.appId}}">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" onclick="createMessage()" class="btn btn-primary">Send</button>
          </div>
        </div>
      </div>
    </div>

<script type="text/javascript" defer>
  function getUsers() {
    const perPage = 2;
    ajaxGetUsers("{{.appId}}", function(){
      $('#loadMoreUsers').remove();
      let body = $('#users');
      let page = 1;
      let count = body.find('.user-card').length;

      if (count > 0) {
        page = Math.round(count / perPage) + 1;
      }

      return {
        perPage: perPage,
        page: page
      };
    }, function (users, total) {
      let body = $('#users');

      for(let i in users) {
        let item = `<div class="card border-0 h-50 user-card">
        <div class="card-body border-bottom">
        <div class="row">
        <div class="col-auto">
        <a class="thumbnail pull-left" href="#">
        <img class="media-object rounded-circle" width=60 height=60 src="/static/admin/img/149071.png">
        </a>
        </div>
        <div class="col-md-7">
        <h4 class="media-heading">`+ users[i].name + ` ` + users[i].second +`</h4>
        <p><span class="label label-info">`+ users[i].email + `</span>
        <span class="label label-primary">`+ users[i].phone + `</span>
        <span class="label label-primary"><b>id:</b> `+ users[i].id + `</span>
        <span class="label label-primary"><b>uid:</b> `+ users[i].uid + `</span></p>
        </div>
        <div class="col">
          <div class="btn-group dropleft float-right">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" >Open</a>
              <a class="dropdown-item" href="#">Remove</a>
              <a class="dropdown-item" href="javascript:setCreateMessageUserID('`+ users[i].uid + `')">Send message</a>
            </div>
          </div>
        </div>
        </div>
        </div>
        </div>`;

        body.append(item);
      }

      let count = body.find('.user-card').length;

      if (count < total) {
        body.append('<button id="loadMoreUsers" onclick="getUsers()" type="button" class="btn btn-primary btn-lg btn-block">Load more</button>');
      }
    });
  }

  document.addEventListener("DOMContentLoaded", getUsers);
</script>

{{end}}